/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  padding-right: 16px;
}
.container-fluid {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -16px;
  margin-left: -16px;
}
.row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.row-break {
  width: 100% !important;
}
.col,
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
.col,
.col-xs {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
.col-xs-2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}
.col-xs-3 {
  -ms-flex-preferred-size: 25.0%;
  flex-basis: 25.0%;
  max-width: 25.0%;
}
.col-xs-4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.col-xs-5 {
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
.col-xs-6 {
  -ms-flex-preferred-size: 50.0%;
  flex-basis: 50.0%;
  max-width: 50.0%;
}
.col-xs-7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
.col-xs-8 {
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
.col-xs-9 {
  -ms-flex-preferred-size: 75.0%;
  flex-basis: 75.0%;
  max-width: 75.0%;
}
.col-xs-10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}
.col-xs-11 {
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}
.col-xs-12 {
  -ms-flex-preferred-size: 100.0%;
  flex-basis: 100.0%;
  max-width: 100.0%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-left: 8.33333%;
}
.col-xs-offset-2 {
  margin-left: 16.66667%;
}
.col-xs-offset-3 {
  margin-left: 25.0%;
}
.col-xs-offset-4 {
  margin-left: 33.33333%;
}
.col-xs-offset-5 {
  margin-left: 41.66667%;
}
.col-xs-offset-6 {
  margin-left: 50.0%;
}
.col-xs-offset-7 {
  margin-left: 58.33333%;
}
.col-xs-offset-8 {
  margin-left: 66.66667%;
}
.col-xs-offset-9 {
  margin-left: 75.0%;
}
.col-xs-offset-10 {
  margin-left: 83.33333%;
}
.col-xs-offset-11 {
  margin-left: 91.66667%;
}
.start-xs {
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.center-xs {
  -ms-flex-pack: center;
  justify-content: center;
}
.end-xs {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.top-xs {
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle-xs {
  -ms-flex-align: center;
  align-items: center;
}
.stretch-xs {
  -ms-flex-align: stretch;
  align-items: stretch;
}
.baseline-xs {
  -ms-flex-align: baseline;
  align-items: baseline;
}
.bottom-xs {
  -ms-flex-align: end;
  align-items: flex-end;
}
.between-xs {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.first-xs {
  -ms-flex-order: -1;
  order: -1;
}
.last-xs {
  -ms-flex-order: 1;
  order: 1;
}
.self-top {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.self-middle {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}
.self-bottom {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    width: calc(575.5px);
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: calc(767.5px);
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  .col-sm {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
    max-width: 75.0%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
    max-width: 100.0%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25.0%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50.0%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75.0%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .start-sm {
    -ms-flex-pack: flext-start;
    justify-content: flext-start;
  }
  .center-sm {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .stretch-sm {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .baseline-sm {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .top-sm {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .between-sm {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .first-sm {
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: calc(991.5px);
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  .col-md {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
    max-width: 75.0%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
    max-width: 100.0%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25.0%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50.0%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75.0%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .start-md {
    -ms-flex-pack: flext-start;
    justify-content: flext-start;
  }
  .center-md {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .end-md {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .stretch-md {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .baseline-md {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .top-md {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .between-md {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .first-md {
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: calc(1199.5px);
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  .col-lg {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
    max-width: 75.0%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
    max-width: 100.0%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25.0%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50.0%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75.0%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .start-lg {
    -ms-flex-pack: flext-start;
    justify-content: flext-start;
  }
  .center-lg {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .stretch-lg {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .baseline-lg {
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .top-lg {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .between-lg {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .first-lg {
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    order: 1;
  }
}
.h1 {
  font-size: 1.75rem;
}
.h2 {
  font-size: 3rem;
}
.h3 {
  font-size: 1.875rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1.25rem;
}
.p {
  font-size: .875rem;
}
header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 370px 15px 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
@media (min-width: 768px) and (max-width: 1200px) {
  header {
    align-items: center;
  }
}
header .hamburger {
  display: none;
}
@media (max-width: 1200px) {
  header .hamburger {
    display: block;
  }
}
@media (max-width: 1200px) {
  header {
    padding: 10px;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 1200px) {
  header .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
  }
}
header .logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1200px) {
  header .logo img {
    width: 50%;
    margin: 0 auto;
  }
}
header .icon {
  width: 20px;
  height: 20px;
  fill: #727272;
  cursor: pointer;
  z-index: 9999;
  margin-top: 8px;
}
@media (max-width: 1200px) {
  header .icon {
    width: 20px;
    height: 20px;
  }
}
.header__page {
  background: #f9f9f9;
  box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.2);
  position: relative;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header__page .logo {
    left: 10%;
  }
}
.bg__inherit{
  background: inherit !important;
}
.bg__inherit .search__input.show{
  background: inherit !important;
}
@media (max-width: 1200px) {
  .bg__inherit .search__input.show{
    background: #f5f5f5 !important;
  }
}
footer {
  background: #f5f5f5;
  border-top: 1px solid #eaeaea;
  margin-top: 100px;
}
footer p {
  text-align: center !important;
}
@media all and (max-width: 767px) {
  footer p {
    font-size: 13px;
  }
}
.nav {
  position: fixed;
  top: 0;
  width: 320px;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 25px 50px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
}
@media (min-width:568px) and (max-width: 767px) {
  .nav {
    height: 100vh;
    overflow-y: scroll;
  }
}
@media (min-width:568px) and (max-width: 900px) and (max-height:600px) {
  .nav {
    height: 100vh;
    overflow-y: scroll;
  }
  .product {
    margin-bottom: 25px;
  }
  .menu {
    margin-bottom: 25px;
  }
  .menu__more {
    margin-bottom: 25px;
  }
}
@media all and (max-width: 767px) {
  .nav {
    left: -320px;
    transition: all .3s;
  }
  .nav.active {
    left: 0;
    padding: 15px 10px 10px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .nav {
    left: -320px;
    transition: all .3s;
  }
  .nav.active {
    left: 0;
  }
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul li {
  list-style: none;
  margin-bottom: 10px;
}
.nav ul li:last-child {
  margin-bottom: 0;
}
.nav ul li a {
  text-decoration: none;
  display: block;
}
.nav .icon__close {
  display: none;
}
@media (max-width: 1200px) {
  .nav .icon__close {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
  }
}
.menu {
  font-size: 14px;
}
@media (max-width: 1024px) {
  .menu {
    margin-bottom: 25px;
  }
}
@media (min-width: 1921px) {
  .menu {
    font-size: 18px;
  }
}
.menu span {
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
  color: #6699cc;
  transition: all .3s;
}
.menu span:hover {
  border-bottom: 2px solid transparent;
  color: #000;
}
.menu span.active {
  border-bottom: 2px solid transparent;
  color: #000;
}
.product {
  font-size: 24px;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
}
@media all and (max-width: 767px) {
  .product {
    font-size: 16px;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .product {
    margin-bottom: 25px;
  }
}
.product li:nth-child(1):hover span {
  background: #FFFF99;
}
.product li:nth-child(1).active span {
  background: #FFFF99;
}
.product li:nth-child(2):hover span {
  background: #CCFF99;
}
.product li:nth-child(2).active span {
  background: #CCFF99;
}
.product li:nth-child(3):hover span {
  background: #CCFFFF;
}
.product li:nth-child(3).active span {
  background: #CCFFFF;
}
.product li:nth-child(4):hover span {
  background: #6699FF;
}
.product li:nth-child(4).active span {
  background: #6699FF;
}
.product li:nth-child(5):hover span {
  background: #CCCCFF;
}
.product li:nth-child(5).active span {
  background: #CCCCFF;
}
.product li:nth-child(6):hover span {
  background: #FFCC99;
}
.product li:nth-child(6).active span {
  background: #FFCC99;
}
.product li:nth-child(n+7):hover span {
  background: #f2f2f2;
}
.product li:nth-child(n+7).active span {
  background: #f2f2f2;
}
.product span {
  padding: 5px 5px 2px 0;
  border-bottom: 1px solid #ebebeb;
  color: #000;
  position: relative;
  transition: all .3s;
  left: 0;
}
.product span:hover {
  border-bottom: 2px solid transparent;
  left: -10px;
}
.menu__more {
  font-size: 14px;
}
.menu__more span {
  color: #666666;
  transition: all .3s;
}
.menu__more span:hover {
  color: #000;
}
.menu__more span.active {
  color: #000;
}
@media (min-width: 1921px) {
  .menu__more {
    font-size: 18px;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .menu__more {
    margin-bottom: 25px;
  }
}
.tel__link {
  margin-bottom: 10px;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
}
.tel__link:hover a {
  color: #666666;
}
.tel__link a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  transition: all .3s;
}
@media (max-width: 1024px) {
  .tel__link a {
    font-size: 22px;
  }
}
.mail__link {
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .mail__link {
    margin-bottom: 10px;
  }
}
.mail__link a {
  font-size: 16px;
  color: #3399cc;
  text-decoration: none;
}
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.social .social__item {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social .social__item:last-child {
  margin-right: 0;
}
.social .social__item .icon {
  width: 15px;
  height: 15px;
  fill: #000;
}
.language {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  right: 50px;
}
@media (max-width: 1024px) {
  .language {
    top: 10px;
    right: 10px;
  }
}
.language .icon {
  width: 20px;
  height: 20px;
  fill: #666666;
}
.language select {
  border: none;
  margin-right: 10px;
  color: #6699cc;
  outline: none;
  font-size: 14px;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(/fonts/ubuntu-bold.ttf);
}
@font-face {
  font-family: 'MyriadPro';
  src: url(/fonts/myriadpro.otf);
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(/fonts/ubuntu-regular.ttf);
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(/fonts/ubuntu-medium.ttf);
}
@font-face {
  font-family: 'Opensans';
  src: url(/fonts/opensans.ttf);
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url(/fonts/ubuntu-light.ttf);
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-style: normal;
  position: relative;
  font-family: 'Ubuntu-Regular';
}
.main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
  z-index: 100;
  background: #f5f5f5;
}
.container {
  margin: 0 auto;
}
a {
  outline: none;
}
.slider-for {
  margin-right: 320px;
}
@media (max-width: 1200px) {
  .slider-for {
    margin-right: 0;
  }
}
.slider-for .slider__item {
  /*background: url(../../img/bg__slider.png) no-repeat;
  background-size: cover;*/
  background: #f5f5f5;
  height: calc(100vh - 5px);
  outline: none;
  position: relative;
  background:url(/img/bg-dots.png);
}
/*.slider__img__bg {*/
  /*position:absolute;*/
  /*top:0;*/
  /*right:0;*/
  /*bottom:0;*/
  /*left:0;*/
  /*background:url(/img/bg-dots-blue.png)no-repeat;*/
  /*z-index:100;*/
/*}*/
.slider-for .slider__item .slider__wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 75px;
  color: #333333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper {
    left: 0;
  }
}
.slider-for .slider__item .slider__wrapper .slider__content {
  width: 50%;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper .slider__content {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .slider-for .slider__item .slider__wrapper .slider__content {
    width: 60%;
  }
}
.slider-for .slider__item .slider__wrapper .slider__img {
  width: 50%;
  height: 80vh;
  position:relative;
}
.slider-for .slider__item .slider__wrapper .slider__img img {
  display: block;
  width: 100%;
}
@media all and (max-width: 567px) {
  .slider-for .slider__item .slider__wrapper .slider__img {
      height: 50vh;
  }
  .slider-for .slider__item .slider__wrapper {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 767px) {
  /*.slider-for .slider__item .slider__wrapper .slider__img {*/
    /*display: none;*/
  /*}*/
}
.slider-for .slider__item .slider__wrapper p {
  font-family: 'Ubuntu-Regular';
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper p {
    font-size: 16px;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper p {
    margin: 5px;
  }
}
.slider-for .slider__item .slider__wrapper h2 {
  font-family: 'Ubuntu-Regular';
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 60px;
  line-height: 70px;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper h2 {
    font-size: 25px;
    margin-bottom: 5px;
    line-height: 40px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .slider-for .slider__item .slider__wrapper h2 {
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .slider-for .slider__item .slider__wrapper h2 {
    font-size: 46px;
    margin-bottom: 20px;
  }
}
.slider-for .slider__item .slider__wrapper span {
  /*margin-left: 25px;*/
  display: block;
  position: relative;
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 80px;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper span {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .slider-for .slider__item .slider__wrapper span {
    margin-bottom: 25px;
  }
}
@media (min-width: 1921px) {
  .slider-for .slider__item .slider__wrapper span {
    font-size: 20px;
  }
}
/*.slider-for .slider__item .slider__wrapper span:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  border-left: 3px solid #878787;
}*/
.slider-for .slider__item .slider__wrapper a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6633;
  padding: 15px 36px;
  border-radius: 4px;
  box-shadow: 0 5px 30px rgba(148,151,155,.6);
  transition: all .3s;
}
.slider-for .slider__item .slider__wrapper a:hover {
  box-shadow: 0 7px 25px rgba(148,151,155,.65);
}
.slider-for .slider__item .slider__wrapper .link__more {
  position: relative;
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper .link__more {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media all and (max-width: 767px) {
  .slider-for .slider__item .slider__wrapper .link__more:after {
    left: inherit;
    right: 80px;
  }
}
.nav__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav__slide .nav__tro {
  width: 56%;
  color: #585858;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .nav__slide .nav__tro {
    width: 90%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .nav__slide .nav__tro {
    width: 80%;
  }
}
.nav__slide .title__slide {
  line-height: 25px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .nav__slide .title__slide {
    font-size: 13px;
  }
}
@media (min-width: 1921px) {
  .nav__slide .title__slide {
    font-size: 18px;
  }
}
.nav__slide .number__slide {
  font-size: 14px;
}
.slider__item__nav {
  outline: none;
  border-right: 1px solid #cfcfcf;
  box-sizing: border-box;
}
.slider__item__nav:last-child {
  border-right: none;
}
.slider-nav {
  position: absolute;
  bottom: 0;
  left: 75px;
  right: 320px;
}
@media all and (max-width: 767px) {
  .slider-nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .slider-nav {
    right: 75px;
  }
}
.slider-nav .slick-current .number__slide {
  color: #ff6633;
}
.slider-nav .slick-current .title__slide {
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  color: #000;
}
.slider-progress {
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0px;
}
.slider-progress .progress {
  width: 0%;
  height: 5px;
  background: linear-gradient(to right, transparent, #ff6633);
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  width: 1px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #0d122b;
  border-radius: 5px;
  width: 7px;
}
.search__block ::-webkit-input-placeholder {
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  color: #D8D8D8;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
.search__block ::-moz-placeholder {
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  color: #D8D8D8;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
.search__block :-moz-placeholder {
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  color: #D8D8D8;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
.search__block :-ms-input-placeholder {
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  color: #D8D8D8;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
.search__block  {
  z-index: 9999;
}
.search__block .bg__inherit ::-moz-placeholder {
  color: #000 !important;
}
.search__block .bg__inherit :-moz-placeholder {
  color: #000 !important;
}
.search__block .bg__inherit :-ms-input-placeholder {
  color: #000 !important;
}
.search__form {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.search__label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 9999;
}
.search__label .icon_close {
  display: none;
}
.search__label.active .icon_close {
  display: initial;
}
.search__label.active .icon_search {
  display: none;
}
.search__input {
  width: 0px;
  opacity: 0;
  float: right;
  padding-right: 35px;
  height: 45px;
  background: inherit;
  border: none;
  outline: none;
  font-family: 'Ubuntu-Regular';
  font-size: 28px;
  color: #D8D8D8;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.search__input.show {
  width: 100%;
  opacity: 1;
  z-index: 9999;
  background: #f9f9f9;
  border-bottom: 2px solid #999;
  position: relative;
  top: -5px;
}
.search__container {
  width: 57%;
}
.search__block.active .icon {
  display: none;
}
.breadcrumbs__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top:15px;
  width: 57%;
  margin: 0 auto;
}
.breadcrumbs__wrapper a {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  .breadcrumbs__wrapper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .breadcrumbs__wrapper {
    width: 100%;
    z-index: 9999;
    margin-left: 14%;
  }
}
.breadcrumbs__wrapper h1 {
  font-size: 21px;
  text-transform: uppercase;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  margin: 0;
  line-height: 1;
  margin-bottom:20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .breadcrumbs__wrapper h1 {
    font-size: 16px;
    margin-bottom:0;
  }
  .header__page {
    padding: 10px 10px 20px;
  }
}
@media (min-width: 1201px) and (max-width: 1500px) {
  .breadcrumbs__wrapper h1 {
    font-size: 16px;
  }
  .breadcrumbs__wrapper {
    width: 69%;
  }
  .breadcrumbs__item {
    font-size: 9px;
  }
  header {
    padding: 15px 370px 15px 20px;
  }
}
.breadcrumbs {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumbs .back {
  color: #666666;
  font-size: 10px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.03);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 0px;
  transition: all .3s;
}
.breadcrumbs .back:hover {
  background: rgba(0, 0, 0, 0.07);
}
@media (min-width: 1921px) {
  .breadcrumbs .back {
    font-size: 14px;
  }
}
.breadcrumbs__item {
  color: #cccccc;
  font-size: 10px;
  margin-top: 0;
  transition:all .3s;
}
.breadcrumbs__item__span {
  color: #cccccc;
  font-size: 10px;
  transition:all .3s;
  margin: 0 5px;
}
.breadcrumbs__item:last-child {
  pointer-events:none;
}
.breadcrumbs__item:not(:last-child):hover {
  color: #4A90E2;
}
@media (min-width: 1921px) {
  .breadcrumbs__item {
    font-size: 14px;
  }
}
.content__max__width {
  width: 75%;
  padding-top: 45px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  overflow-x: hidden;
}
@media all and (max-width: 567px) {
  .content__max__width {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .content__max__width {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .content__max__width {
    height: calc(100vh - 65px);
    width: 100%;
  }
}
@media (min-width:993px) and (max-width: 1200px) {
  .content__max__width {
    height: calc(100vh - 65px);
  }
}
.services__page {
  width: 100%;
  padding-top: 45px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  overflow-x: hidden;
}
@media all and (max-width: 567px) {
  .services__page {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .services__page {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .services__page {
    height: calc(100vh - 65px);
  }
}
@media (min-width:993px) and (max-width: 1200px) {
  .services__page {
    height: calc(100vh - 65px);
  }
}
.header__description {
  background: #e6e6e6;
  text-transform: uppercase;
  padding: 15px 30px;
}
.header__description p {
  margin: 0;
}
.description__item {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cccccc;
}
.description__item:last-child {
  border-bottom: none;
}
@media all and (max-width: 567px) {
  .description__item {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.description__item .description__name {
  width: 60%;
  padding: 15px 30px;
  border-right: 1px solid #cccccc;
}
@media all and (max-width: 567px) {
  .description__item .description__name {
    padding: 10px;
    width: 100%;
    border-right: none;
  }
}
.description__item .description__name p {
  margin: 0;
  line-height: 30px;
}
@media (min-width: 1440px) {
  .description__item .description__name p {
    font-size: 18px;
  }
}
.description__item .description__value {
  width: 40%;
  padding: 15px 30px;
}
@media all and (max-width: 567px) {
  .description__item .description__value {
    padding: 10px;
    width: 100%;
  }
}
.description__item .description__value p {
  margin: 0;
  line-height: 30px;
}
.description__item ul {
  margin-bottom: 0;
}
@media all and (max-width: 567px) {
  .description__item ul {
    padding-left: 0;
  }
}
.description__item ul li {
  line-height: 24px;
  margin: 20px 0;
}
.description__item ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 1921px) {
  .description__item ul li {
    font-size: 18px;
  }
}
.description__item .parametrs {
  width: 100%;
}
.description__item .parametrs li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.description__list__table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .description__list__table {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.description__list__table .description__table:first-child {
  width: 57%;
}
@media (max-width: 1024px) {
  .description__list__table .description__table:first-child {
    width: 100%;
  }
}
.description__list__table .description__table:last-child {
  width: 41%;
}
@media (max-width: 1024px) {
  .description__list__table .description__table:last-child {
    width: 100%;
  }
}
.with__margin {
  margin-bottom: 40px;
}
.bottom__description p{
  padding-left: 30px;
  line-height: 24px;
  margin: 40px 0;
}
@media (max-width: 1000px) {
  .bottom__description p {
    padding: 0 10px;
    text-align: justify;
  }
}
@media all and (max-width: 767px) {
  .bottom__description {
    padding-left: 0;
  }
}
.main__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}
.main__form .form__item {
  width: 21%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
@media all and (max-width: 567px) {
  .main__form .form__item {
    width: 100%;
  }
}
.form {
  margin: 30px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
@media (max-width: 767px) {
  .form {
    margin: 10px;
  }
}
.form .header__form {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  background: #404040;
  border-radius: 5px 5px 0 0;
}
@media all and (max-width: 767px) {
  .form .header__form {
    text-align: center;
  }
}
.form .header__form h3 {
  margin: 0;
}
.form .main__form {
  padding: 50px 30px 30px;
  border-radius: 0 0 5px 5px;
  background: #fff;
}
@media all and (max-width: 767px) {
  .form .main__form {
    padding: 10px;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .form .main__form {
    padding: 20px;
  }
}
.form .main__form label {
  color: #666666;
  font-size: 14px;
  margin-bottom: 5px;
}
.form .main__form input,
.form .main__form input:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
  height: 25px;
  padding: 0 40px 0 0;
  outline: none;
}
.form .main__form input:focus {
  border-bottom: 2px solid #ff6e3d;
}
.form .main__form button {
  color: #fff;
  background: #ff6e3d;
  padding: 13px 0;
  border: inherit;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.partners {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media all and (max-width: 567px) {
  .partners {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.partners__item {
  width: 150px;
  margin: 20px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width:568px) and (max-width: 767px) {
  .partners__item {
    margin: 15px;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .partners__item {
    margin: 5px;
  }
}
.partners__item img {
  display: block;
  width: 100%;
}
.content__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  width: calc(100% - 320px);
  box-sizing: border-box;
  padding: 0 25px;
}
@media all and (max-width: 767px) {
  .content__wrapper {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content__wrapper {
    width: 100%;
  }
}
.content__min__width {
  margin-top: 45px;
  width: 25%;
}
@media all and (max-width: 1000px) {
  .content__min__width {
    position: absolute;
    left: -100%;
    right: 0;
    width: 100%;
    z-index: 100;
    margin-top: 10px;
    transition: all .3s;
  }
  .content__min__width.active {
    left: 0;
  }
}
@media all and (max-width: 1000px) and (max-height: 600px) {
  .content__min__width {
    position: absolute;
    left: -100%;
    right: 0;
    width: 100%;
    z-index: 100;
    margin-top: 10px;
    transition: all .3s;
  }
  .content__max__width {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
.product__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.product__img img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.title__from__mobile {
  display: none;
}
.news__description img{
  display: block;
  width: 100%;
}
@media all and (max-width: 767px) {
  .title__from__mobile {
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .ppu img {
    width: 100%;
  }
}
.tabs__wrapper {
  margin-right: 15px;
  margin-left: 50px;
  width: 80%;
}
@media all and (max-width: 1000px) {
  .tabs__wrapper {
    margin-left: 0;
    background: #fff;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 7px 25px rgba(148,151,155,.65);
  }
}
.tabs__title {
  margin: 0;
  background: #e6e6e6;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 16px;
}
.tabs__item {
  border-bottom: 1px solid #e3e3e3;
  text-transform: uppercase;
}
.tabs__item a {
  color: #666666;
  display: block;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  position: relative;
}
.tabs__item a:first-child {
  padding-top: 20px;
}
.tabs__item:last-child {
  border-bottom: none;
}
.tabs__item.active a {
  color: #000;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
}
.tabs__item.active a:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background: #ff6e3d;
}
.wrapper__about_company {
  background: #fff;
  border-radius: 5px;
  padding: 75px 40px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}
@media all and (max-width: 767px) {
  .wrapper__about_company {
    padding: 30px 10px;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .wrapper__about_company {
    padding: 15px;
  }
}
.wrapper__about_company .content__about__us__flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  .wrapper__about_company .content__about__us__flex {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper__about_company .content__about__us__flex__text {
  margin-left: 60px;
  position: relative;
  width: 50%;
}
@media all and (max-width: 767px) {
  .wrapper__about_company .content__about__us__flex__text {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .wrapper__about_company .content__about__us__flex__text {
    margin-left: 10px;
  }
}
.wrapper__about_company .content__about__us__flex__text:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 2px;
  background: #424242;
}
@media all and (max-width: 767px) {
  .wrapper__about_company .content__about__us__flex__text:after {
    display: none;
  }
}
.wrapper__about_company .content__about__us__flex__img {
  width: 50%;
}
@media all and (max-width: 767px) {
  .wrapper__about_company .content__about__us__flex__img {
    width: 100%;
  }
}
.wrapper__about_company .content__about__us__flex__img img {
  display: block;
  width: 100%;
}
.wrapper__about_company .content__about__us__flex__img .company__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrapper__about_company .content__about__us__flex__img .company__list .company__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30%;
  margin: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .wrapper__about_company .content__about__us__flex__img .company__list .company__item {
    width: 70%;
  }
}
.wrapper__about_company .content__about__us__flex__img .company__list .company__item img {
  display: block;
  width: 100%;
}
.about__company__page .english {
  font-size: 16px;
  color: #8594a4;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: normal;
}
.about__company__page .russian {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  margin-bottom: 30px;
}
.about__company__page h2 {
  margin: 0;
}
.about__company__page p {
  font-family: 'Ubuntu-Regular';
  color: #333333;
  line-height: 24px;
  text-align: justify;
}
.section__wrapper {
  margin-bottom: 50px;
}
@media all and (max-width: 767px) {
  .section__wrapper {
    margin-bottom: 30px;
  }
}
.content__about__us__normal p {
  text-align: center;
}
@media (max-width: 767px) {
  .content__about__us__normal p {
    text-align: justify;
  }
}
.content__about__us__normal img {
  display: block;
  width: 100%;
  position: relative;
  bottom: -30px;
}
.offers {
  padding-bottom: 75px;
}
@media all and (max-width: 767px) {
  .offers {
    text-align: center;
    padding-bottom: 10px;
  }
}
.offers .content__about__us__flex__text {
  margin-right: 60px;
  margin-left: 0;
}
@media (min-width:768px) and (max-width: 992px) {
  .offers .content__about__us__flex__text {
    margin-right: 10px;
  }
}
.offers .content__about__us__flex__text:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  left: inherit;
  width: 150px;
  height: 2px;
  background: #424242;
}
.product__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media all and (max-width: 767px) {
  .product__list {
    margin-bottom: 50px;
  }
}
.product__list .product__list__item {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: flex-start;
}
.product__list .product__list__item img {
  display: block;
  width: 100%;
}
@media all and (max-width: 567px) {
  .product__list .product__list__item {
    height: 250px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 767px) {
  .product__list .product__list__item img {
    display: block;
  }
}
.mission__wrapper {
  text-align: center;
}
.mission__wrapper .mission__top {
  position: relative;
}
.mission__wrapper .mission__top p {
  padding: 50px 0;
}
@media all and (max-width: 767px) {
  .mission__wrapper .mission__top p {
    padding: 20px 0;
  }
}
.mission__wrapper .mission__top:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background: #424242;
}
.mission__wrapper .mission__bottom p {
  padding: 50px 0;
}
@media all and (max-width: 767px) {
  .mission__wrapper .mission__bottom p {
    padding: 20px 0;
  }
}
.photo__about__us {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
@media all and (max-width: 767px) {
  .photo__about__us {
    margin-bottom: 20px;
  }
}
.photo__about__us .photo__item {
  width: 30%;
  margin: 15px;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  .photo__about__us .photo__item {
    width: 39%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .photo__about__us .photo__item {
    width: 43%;
  }
}
.photo__about__us .photo__item img {
  display: block;
  width: 100%;
}
@media all and (max-width: 767px) {
  .reverse__block {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
}
.icon__fixed {
  display: none;
}
@media all and (max-width: 1000px) {
  .icon__fixed {
    display: block;
    position: fixed;
    width: 20px;
    height: 20px;
    left: 0;
    padding: 13px 2px;
    border-radius: 0 5px 5px 0;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: none;
    z-index: 9999;
  }
}
.product__in__catalog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 65px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 30px;
  transition: all .3s linear;
}
@media all and (max-width: 767px) {
  .product__in__catalog {
    padding: 15px;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .product__in__catalog {
    padding: 25px 10px;
  }
}
@media (min-width:993px) and (max-width: 1200px) {
  .product__in__catalog {
    padding: 25px 10px;
  }
}
.product__in__catalog:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}
.product__in__catalog:hover a {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}
.product__in__catalog .photo__product {
  width: 30%;
  text-align: center;
}
@media all and (max-width: 567px) {
  .product__in__catalog .photo__product {
    display: none;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .product__in__catalog .photo__product {
    width: 25%;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .product__in__catalog .photo__product {
    width: 25%;
  }
}
.product__in__catalog .photo__product img {
  display: block;
  width: 100%;
  position: relative;
  bottom: 0;
}
.product__in__catalog .ppu {
  width: 25%;
}
.product__in__catalog .info__about__product {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media all and (max-width: 567px) {
  .product__in__catalog .info__about__product {
    width: 100%;
  }
}
.product__in__catalog .info__about__product .top__info__about__product {
  padding-bottom: 35px;
  border-bottom: 1px solid #ebebeb;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
}
.product__in__catalog .info__about__product .name__firm {
  color: #8594a4;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.product__in__catalog .info__about__product .title__product {
  color: #303030;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}
.product__in__catalog .info__about__product p {
  color: #717171;
  line-height: 24px;
  margin: 30px 0 25px;
}
@media (min-width: 1921px) {
  .product__in__catalog .info__about__product p {
    font-size: 18px;
  }
}
.product__in__catalog .info__about__product a {
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  background: #8d9aa9;
  padding: 16px 32px;
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: all .3s linear;
}
.product__in__catalog .info__about__product a .icon {
  margin-left: 20px;
  width: 16px;
  height: 16px;
  fill: #fff;
}
.product__in__catalog .info__about__product a:hover {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
}
.footer-box {
  width: calc(100% - 320px);
}
.footer-box p {
  color: #333333;
}

@media (max-width: 1200px) {
  .footer-box {
    width: 100%;
  }
}
.footer__product__in__catalog {
  padding-top: 20px;
  display: -ms-flexbox;
  display: flex;
}
.footer__product__in__catalog .footer__product__item:first-child {
  margin-right: 40px;
}
.footer__product__in__catalog span:first-child {
  color: #8d9aa9;
  text-transform: uppercase;
}
.footer__product__in__catalog span:last-child {
  text-transform: uppercase;
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  margin-left: 5px;
}
.title__document {
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  font-size: 22px;
  color: #000000;
  text-align: left;
  line-height: 40px;
}
.document__list {
  margin-top: 30px;
  margin-bottom: 30px;
}
.document__list .document__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.document__list .document__item .icon {
  height: 45px;
  width: 45px;
  fill: #000;
  margin-right: 15px;
}
.document__list .document__item a {
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  color: #000000;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
  width: 95%;
}
.document__list .document__item:nth-child(n+2) {
  margin-top: 15px;
}
.news__wrapper {
  padding: 40px 75px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  .news__wrapper {
    padding: 10px;
    height: calc(100vh - 65px);
  }
}
@media all and (max-width: 567px) {
  .news__wrapper {
    height: calc(100vh - 65px);
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .news__wrapper {
    height: calc(100vh - 65px);
  }
}
@media (min-width:993px) and (max-width: 1200px) {
  .news__wrapper {
    height: calc(100vh - 65px);
  }
}
.news__wrapper h1 {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 20px;
  color: #404040;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.news__wrapper a {
  text-decoration: none;
}
.news__wrapper .news__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 320px;
}
@media all and (max-width: 567px) {
  .news__wrapper .news__content {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .news__wrapper .news__content {
    padding-right: 0;
  }
}
.news__wrapper .news__content .big__news {
  width: 48%;
  border-bottom: 1px solid #ECECEC;
}
@media all and (max-width: 567px) {
  .news__wrapper .news__content .big__news {
    width: 100%;
  }
}
.news__wrapper .news__content .big__news .news__img {
  max-height: 270px;
  overflow: hidden;
}
.news__wrapper .news__content .big__news .news__img img {
  display: block;
  width: 100%;
}
.news__wrapper .news__content .big__news h2 {
  font-family: 'Ubuntu-Regular';
  font-size: 20px;
  color: #404040;
  letter-spacing: 0;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}
.news__wrapper .news__content .big__news span {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #9A9A9A;
  line-height: 20px;
}
@media (min-width: 1921px) {
  .news__wrapper .news__content .big__news span {
    font-size: 18px;
  }
}
.news__wrapper .news__content .little__news__list {
  width: 48%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media all and (max-width: 567px) {
  .news__wrapper .news__content .little__news__list {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
  }
}
.news__wrapper .news__content .little__news__list .little__news__item {
  width: 48%;
  border-bottom: 1px solid #ECECEC;
}
@media all and (max-width: 567px) {
  .news__wrapper .news__content .little__news__list .little__news__item {
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .news__wrapper .news__content .little__news__list .little__news__item {
    width: 80%;
  }
  .news__wrapper .news__content .little__news__list .little__news__item:nth-child(n+2) {
    margin-top: 20px;
  }
}
.news__wrapper .news__content .little__news__list .little__news__item:nth-child(n+3) {
  margin-top: 20px;
}
.news__wrapper .news__content .little__news__list .little__news__item .news__img {
  height: 160px;
  overflow: hidden;
}
@media (max-width:768px) {
  .news__wrapper .news__content .little__news__list .little__news__item .news__img {
    height: auto;
  }
}
.news__wrapper .news__content .little__news__list .little__news__item .news__img img {
  display: block;
  width: 100%;
}
.news__wrapper .news__content .little__news__list .little__news__item h2 {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .news__wrapper .news__content .little__news__list .little__news__item h2 {
    font-size: 16px;
  }
}
.news__wrapper .news__content .little__news__list .little__news__item span {
  font-family: 'Ubuntu-Regular';
  font-size: 12px;
  color: #9B9B9B;
  line-height: 16px;
  margin-bottom: 5px;
  display: block;
}
@media (min-width: 1921px) {
  .news__wrapper .news__content .little__news__list .little__news__item span {
    font-size: 16px;
  }
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 320px;
  margin-top: 30px;
  padding-left: 0;
}

@media (max-width: 1200px) {
  .pagination {
    padding-right: 0;
  }
}
.pagination ul {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 5px;
}
@media all and (max-width: 567px) {
  .pagination ul {
    margin: 10px 5px;
  }
}
.pagination ul li, .pagination li {
  list-style: none;
  text-align: center;
  width: 36px;
  height: 36px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all .3s;
  border-radius: 50%;
}
.pagination ul li:first-child {
  border-radius: 4px 0 0 4px;
}
.pagination ul li:last-child {
  border-radius: 0 4px 4px 0;
}
.pagination ul li:hover, .pagination li:hover {
  background: #ccc;
  border-radius: 50%;
}
.pagination ul li:hover a, .pagination li:hover a {
  color: #fff;
}
.pagination ul li.active a, .pagination li.active a {
  color: #fff;
}
.pagination li.active {
  background: #3399cc;
  border-radius: 50%;
  opacity: .5;
}
.pagination ul li a, .pagination li a {
  display: block;
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #4A90E2;
  transition: all .3s;
}
.pagination ul li .icon, .pagination li .icon {
  width: 12px;
  height: 12px;
  fill: #4A90E2;
}
.pagination .pagination__item {
  display: block;
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #4A90E2;
  text-align: center;
  padding: 10px 13px;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
}
.news__item__page {
  padding-right: 320px;
}
.prev .disabled, .prev .disabled:hover {
  background: inherit !important;
}
@media all and (max-width: 567px) {
  .news__item__page {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .news__item__page {
    padding-right: 0;
  }
}
.news__item__page .news__img {
  margin: 20px 0;
}
.news__item__page .news__img img {
  display: block;
  width: 100%;
}
.news__item__page h2 {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 28px;
  color: #404040;
  letter-spacing: 0;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.news__item__page p {
  font-family: 'Ubuntu-Regular';
  font-size: 20px;
  color: #404040;
  line-height: 1.5;
}
@media (min-width: 1921px) {
  .news__item__page p {
    font-size: 18px;
  }
}
.news__item__page h3 {
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  font-size: 14px;
  color: #1C1C1C;
  line-height: 20px;
  text-transform: uppercase;
}
.news__item__page ul li {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #404040;
  line-height: 20px;
}
@media (min-width: 1921px) {
  .news__item__page ul li {
    font-size: 18px;
  }
}
.news__item__page .more__news__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news__item__page .more__news__list .little__news__item {
  width: 23%;
  border-bottom: 1px solid #ECECEC;
}

@media (min-width:568px) and (max-width: 767px) {
  .news__item__page .more__news__list .little__news__item {
    width: 45%;
  }
}
.news__item__page .more__news__list .little__news__item .news__img {
  height: 160px;
  overflow: hidden;
}
@media all and (max-width: 567px) {
  .news__item__page .more__news__list .little__news__item {
    width: 100%;
  }
  .news__item__page .more__news__list .little__news__item .news__img {
    max-height:160px;
    height:auto;
  }
}
.news__item__page .more__news__list .little__news__item .news__img img {
  display: block;
  width: 100%;
}
.news__item__page .more__news__list .little__news__item h2 {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 14px;
  color: #404040;
  text-transform: uppercase;
  margin: 10px 0;
  line-height: 20px;
}
.news__item__page .more__news__list .little__news__item span {
  font-family: 'Ubuntu-Regular';
  font-size: 12px;
  color: #9B9B9B;
  line-height: 16px;
  margin-bottom: 5px;
  display: block;
}
@media (min-width: 1921px) {
  .news__item__page .more__news__list .little__news__item span {
    font-size: 16px;
  }
}
.title__more__news__list {
  margin-top: 50px !important;
}
.more__news__button {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 14px;
  color: #CCCCCC;
  padding: 16px 50px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0 auto;
  transition: all .3s;
}
.more__news__button:hover {
  background :rgba(0, 0, 0, 0.07);
  color:#666666;
  border-color:#666666;
}
@media (min-width: 1921px) {
  .more__news__button {
    font-size: 16px;
  }
}
.button__news {
  text-align: center;
}
.contact__background:nth-child(2n+1) {
  background: rgba(74, 144, 226, 0.03);
}
.contact__background:nth-child(2n) {
  background: #fff;
}
.contact__background {
  width: calc(100% - 320px);
}
@media (max-width: 1200px) {
  .contact__background {
    width: 100%;
  }
}
.contact__title {
  margin-top: 80px;
  padding-right: 320px;
}
.contact__title p {
  padding: 20px 75px 20px 20%;
}
@media (max-width: 767px) {
  .contact__title p {
    padding: 20px 0 20px 0;
  }
}
@media (max-width: 1200px) {
  .contact__title {
    padding-right: 0;
  }
}
@media all and (max-width: 767px) {
  .contact__title {
    padding-left: 0;
  }
}
.content__item__block__wrapper {
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__item {
  padding: 20px 75px 20px 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media all and (max-width: 767px) {
  .contact__item {
    padding: 20px 10px;
  }
}
@media all and (max-width: 567px) {
  .contact__item {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contact__item .position {
  width: 30%;
}
@media (min-width:568px) and (max-width: 767px) {
  .contact__item .position {
    width: 50%;
  }
}
@media all and (max-width: 567px) {
  .contact__item .position {
    width: 100%;
  }
}
.contact__item .position p {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.45;
  color: #969696;
}
.contact__item .position p:first-child {
  margin-top: 0;
}
@media (max-width: 1200px) {
  .contact__item .position p {
    font-size: 12px;
  }
}
@media (min-width:568px) and (max-width: 767px) {
  .contact__item .contact__info {
    width: 50%;
  }
}
@media all and (max-width: 567px) {
  .contact__item .contact__info {
    width: 100%;
  }
}
.contact__item .contact__info .name {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.45;
  color: #3C3C3C;
  margin-bottom: 10px;
}
@media (min-width: 1600px) {
  .contact__item .contact__info .name {
    font-size: 20px;
  }
  .contact__item .contact__info .title__contact__item {
    font-size: 15px;
  }
  .contact__item .contact__info .info__contact__item {
    font-size: 18px;
  }
}
.contact__item .contact__info .title__contact__item {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  line-height: 1.45;
  color: #9B9B9B;
  margin-top: 5px;
  margin-bottom: 3px;
}
.contact__item .contact__info .info__contact__item {
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  line-height: 1.45;
  color: #3C3C3C;
}
.contact__item .contact__info .info__contact__mail a {
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  line-height: 1.45;
  color: #4A90E2;
}
@media (max-width: 1200px) {
  .contact__item .contact__info .name {
    font-size: 12px;
  }
  .contact__item .contact__info .title__contact__item {
    font-size: 10px;
  }
  .contact__item .contact__info .info__contact__item {
    font-size: 12px;
  }
  .contact__item .contact__info .info__contact__mail a {
    font-size: 12px;
  }
}
.contact__item__block {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.contact__item__block:not(:first-child) {
  margin-top: 30px;
}
@media all and (max-width: 567px) {
  .contact__item__block {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contact__page {
  height: calc(100vh - 90px);
  overflow-y: scroll;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  .contact__page {
    padding: 10px;
    height: calc(100vh - 65px);
    margin-right: 0;
  }
}
@media all and (max-width: 567px) {
  .contact__page {
    height: calc(100vh - 65px);
    margin-right: 0;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .contact__page {
    height: calc(100vh - 65px);
    margin-right: 0;
  }
}
@media (min-width:993px) and (max-width: 1200px) {
  .contact__page {
    height: calc(100vh - 65px);
    margin-right: 0;
  }
}
.services__page {
  padding: 20px 75px;
}
@media all and (max-width: 767px) {
  .services__page {
    padding: 20px 10px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  .services__page .services__content {
    width: 80%;
  }
}
.services__page .services__content h2 {
  font-family: 'Ubuntu-Regular';
  font-size: 16px;
  color: #404040;
  text-transform: uppercase;
}
.services__page .services__content ol {
  padding-left: 15px;
}
.services__page .services__content ol li {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #3C3C3C;
  line-height: 20px;
}
.services__page .services__content .services__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 0;
}
.services__page .services__content .services__list .services__item {
  width: 45%;
  display: -ms-flexbox;
  display: flex;
}
.services__page .services__content .services__list .services__item:not(:last-child) {
  margin-bottom: 50px;
}
@media all and (max-width: 567px) {
  .services__page .services__content .services__list .services__item {
    width: 100%;
  }
}
.services__page .services__content .services__list .services__item .icon {
  width: 60px;
  height: 60px;
  margin-right: 40px;
}
.services__page .services__content .services__list .services__item__content {
  width: 60%;
  margin-left: 20px;
}
.services__page .services__content .services__list .services__item__content h3 {
  font-family: 'Ubuntu-Regular';
  font-weight: 800;
  font-size: 14px;
  color: #404040;
  line-height: 20px;
  margin-top: 0;
}
.services__page .services__content .services__list .services__item__content p,
.services__page .services__content .services__list .services__item__content li {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #1C1C1C;
  line-height: 20px;
}
.services__page .services__content .services__list .services__item__content p {
  width: 60%;
}
@media all and (max-width: 767px) {
  .services__page .services__content .services__list .services__item__content p {
    width: 100%;
  }
}
.services__page .advantages__list {
  margin: 40px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.services__page .advantages__list .advantages__item {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 100px;
}
@media all and (max-width: 567px) {
  .services__page .advantages__list .advantages__item {
    width: 100%;
    margin-bottom: 40px;
  }
}
.services__page .advantages__list .advantages__item__img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
@media (min-width:568px) and (max-width: 767px) {
  .services__page .advantages__list .advantages__item__img {
    margin-right: 15px;
  }
}
.services__page .advantages__list .advantages__item__img img {
  display: block;
  width: 100%;
}
.services__page .advantages__list .advantages__item__content {
  width: 50%;
}
.services__page .advantages__list .advantages__item__content p {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #404040;
  line-height: 20px;
  margin: 0;
}
iframe {
  width: 100%;
  box-sizing: border-box;
}
.content__character table, .content__character td {
  border:1px solid #cccccc;
  border-collapse: collapse;
}
.content__character table:not(:last-child) {
  margin-bottom: 15px;
}
.content__character td {
  padding: 15px;
  text-align: left;
}
@media (min-width: 1600px) {
  .header__description {
    font-size: 20px;
  }
  .content__character td {
    font-size: 18px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .header__description {
    font-size: 16px;
  }
  .content__character td {
    font-size: 15px;
  }
}
@media (max-width:370px) {
  .content__character td {
    padding: 9px;
  }
}
.content__character, .content__character table{
  width: 100%;
}
.map {
  width: 100%;
}
.pop-up{
  display: none;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: #f5f5f5;
}
.pop-up.active{
  display: flex;
  z-index: 99999;
}
.pop-up-wrapper{
  margin: auto;
  width: 60%;
}
.pop-up-wrapper .icon_search{
  position: absolute;
  right: 0;
  top:0;
  z-index: 99999;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.pop-up-wrapper form{
  position: relative;
}
.icon_close{
  position: absolute;
  top: 5%;
  right:5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pop-up input{
  background: inherit;
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333333;
  outline: none;
  font-size:26px;
}

.pop-up input::-webkit-input-placeholder {font-size:26px;}
.pop-up input::-moz-placeholder          {font-size:26px;}
.pop-up input:-moz-placeholder           {font-size:26px;}
.pop-up input:-ms-input-placeholder      {font-size:26px;}

.header .icon_search{
  z-index: 9999;
}
@media (min-width:1200px) and (max-width:1600px) {
  .breadcrumbs__wrapper h1 {
    margin-bottom:25px;
  }
}
@media (min-width:768px) and (max-width: 990px) {
  .breadcrumbs .back {
    margin-right: 0px;
  }
}
.pagination .prev .disabled span {
  color: #4A90E2;
}
